body{
    font-family: "Arimo", sans-serif;
}

/*滚动条优化*/
::-webkit-scrollbar {
    width: 6px;
    height: 14px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 5px solid transparent;
}

::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px rgba(220,220,220,.2) inset;
}

::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-clip: content-box;
    box-shadow: 0 0 0 5px rgba(102,105,113,.2) inset;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

@media (max-width: 768px){
    .side-menu {
        display: none;
    }
}


/* 通用 */

@-webkit-keyframes move1 {
    0% {
        -webkit-transform: translateX(0) scale(1);
    }

    50% {
        -webkit-transform: translateX(105px) scale(1);
    }

    75% {
        -webkit-transform: scale(1.25);
    }

    100% {
        z-index: 1;
        -webkit-transform: translateX(0) scale(1);
    }
}

@keyframes move1 {
    0% {
        transform: translateX(0) scale(1);
    }

    50% {
        transform: translateX(105px) scale(1);
    }

    75% {
        transform: scale(1.25);
    }

    100% {
        z-index: 1;
        transform: translateX(0) scale(1);
    }
}

@-webkit-keyframes move2 {
    0% {
        -webkit-transform: translateX(0);
    }

    25% {
        -webkit-transform: scale(1.25);
    }

    50% {
        -webkit-transform: translateX(-105px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes move2 {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: scale(1.25);
    }

    50% {
        transform: translateX(-105px);
    }

    100% {
        transform: translateX(0);
    }
}

#loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    background: rgba(255,255,255,0.85);
}

.loader-content {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: 50%;
    margin-top: -100px;
}

.loader-content .circle1 {
    position: relative;
    display: inline-block;
    background: #fb9678;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-animation: move1 1.5s ease-in-out infinite;
    animation: move1 1.5s ease-in-out infinite;
}

.loader-content .circle2 {
    position: relative;
    display: inline-block;
    background: #4F5467;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-animation: move2 1.5s ease-in-out infinite;
    animation: move2 1.5s ease-in-out infinite;
}

.loader-content .title {
    font-family: 'black',sans-serif,Arial;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 120%;
    font-size: 30px;
    line-height: 30px;
    color: #232c3b;
}


.block-refresh {
    position: relative
}


.block-refresh:before {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    content: " ";
    background-color: rgba(255,255,255,0.7);
}

.block-refresh:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #fb9678;
    font-size: 60px;
    text-align: center;
    font-family: FontAwesome;
    z-index: 5;
    content: "\f110";
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear
}


.yitala-loading{
    position: relative;
    min-height: 50px;
}
.yitala-loading .fa-spinner{
    color: #F36F67;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.64em;
    margin-left: -0.64em;
}
.button-loading{
    margin-top: 10px;
}

#loader{
    position: absolute;
    top:50%;
    left: 50%;
    width: 100%;
    height: 100%;
    margin-top: -30px;
    margin-left: -30px;
    color:#F36F67;
}
.current-route{
    padding-left: 20px;
    padding-right: 20px;
}
.current-route>span{
    color: #ffffff;
    line-height: 60px;
    font-size: 18px;
}

.pagination-size-select{
    padding: 24px;
}
.pagination-size-select .total{
    margin-right: 15px;
    margin-left: -24px;
}

.text-overflow-hidden{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.modal-black-back{
    background: rgba(0,0,0,0.5);
}

chart{
    display: block;
}
/* @pages */

/* @cover */
a.waves-effect>span{
    padding-left: 15px;
}

@media screen and (min-width:1000px) and (max-width: 1200px) {
    .md3-clear-left{
        clear: left;
    }
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle;
    text-align: center;
}
.label-bander{
    color: #fff;
    border-radius: 60px;
    padding: 4px 12px 3px;
    font-weight: 500;
}
.img-td img{
    height: 120px;
}
.push-left{
    float: left;
}
.push-right{
    float: right;
}
.clear:after{
    content: " ";
    height: 0;
    display: block;
    clear: both;
}

.table-td-btn:hover{
    cursor: pointer;
    color: #df5c53;
}
.option-item{
    line-height: 34px;
    margin-right: 20px;
    color: #54667a;
}
a.option-item:hover{
    color: #df5c53;
    cursor: pointer;
}
.content-empty-box{
    text-align: center;
}