/*滚动条优化*/
::-webkit-scrollbar {
    width: 6px;
    height: 14px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 5px solid transparent;
}

::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px rgba(220,220,220,.2) inset;
}

::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-clip: content-box;
    box-shadow: 0 0 0 5px rgba(102,105,113,.2) inset;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

@media (max-width: 768px){
    .side-menu {
        display: none;
    }
}


/* 通用 */
.yitala-loading{
    position: relative;
    min-height: 50px;
}
.yitala-loading .fa-spinner{
    color: #F36F67;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.64em;
    margin-left: -0.64em;
}
.button-loading{
    margin-top: 10px;
}

#loader{
    position: absolute;
    top:50%;
    left: 50%;
    width: 100%;
    height: 100%;
    margin-top: -30px;
    margin-left: -30px;
    color:#F36F67;
}
.current-route{
    padding-left: 20px;
    padding-right: 20px;
}
.current-route>span{
    color: #ffffff;
    line-height: 60px;
    font-size: 18px;
}

.pagination-size-select{
    padding: 24px;
}
.pagination-size-select .total{
    margin-right: 15px;
    margin-left: -24px;
}

.text-overflow-hidden{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/* @pages */

/* @cover */
a.waves-effect>span{
    padding-left: 15px;
}