<div id="wrapper">
    <layout-header *showAuthed="true"></layout-header>
    <layout-sidebar *showAuthed="true"></layout-sidebar>
    <div id="page-wrapper" [class.single]="!isSignOn">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>

        <footer class="footer text-center" *showAuthed="true"> © 2009－2018  WeiWei网络科技有限公司版权所有 </footer>
    </div>
</div>

<simple-notifications [options]="options"></simple-notifications>

<ng-progress  [color]="'#df5c53'" [thick]="true"></ng-progress>