<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading"> 编辑商品</div>
            <div class="panel-wrapper collapse in" aria-expanded="true">
                <div class="panel-body">
                    <form action="#">
                        <div class="form-body">
                            <h3 class="box-title">商品信息</h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">商品名称</label>
                                        <input type="text" id="firstName" class="form-control" placeholder="Rounded Chair">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">品牌</label>
                                        <input type="text" id="brand" class="form-control" placeholder="Rounded Chair">
                                    </div>
                                </div>
                            </div>
                            <!--/row-->
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">商品分类</label>
                                        <select class="form-control" data-placeholder="Choose a Category" tabindex="1">
                                            <option value="Category 1">Category 1</option>
                                            <option value="Category 2">Category 2</option>
                                            <option value="Category 3">Category 5</option>
                                            <option value="Category 4">Category 4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>价格</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-yen" aria-hidden="true"></i></div>
                                            <input type="text" class="form-control"  placeholder="153"> </div>
                                    </div>
                                </div>
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>折扣</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-cut" aria-hidden="true"></i></div>
                                            <input type="text" class="form-control"  placeholder="36%"> </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">状态</label>
                                        <div class="radio-list">
                                            <label class="radio-inline p-0">
                                                <div class="radio radio-info">
                                                    <input type="radio" name="radio" id="radio1" value="radio1" checked="true">
                                                    <label for="radio1">已发布</label>
                                                </div>
                                            </label>
                                            <label class="radio-inline">
                                                <div class="radio radio-info">
                                                    <input type="radio" name="radio" id="radio2" value="option2">
                                                    <label for="radio2">下架</label>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h3 class="box-title">商品描述</h3>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="4">Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. but the majority have suffered alteration in some form, by injected humour</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">颜色</label>
                                        <input type="text" id="color" class="form-control" placeholder="Rounded Chair">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">尺寸</label>
                                        <input type="text" id="size" class="form-control" placeholder="Rounded Chair">
                                    </div>
                                </div>
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div>
                                    <h3 class="box-title m-t-20" style="display: inline-block">图片</h3><span>(一款商品最多可上传4张图片)</span>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-img">
                                        <img src="../../assets/images/user.jpg">
                                        <div class="pro-img-overlay">
                                            <a href="javascript:void(0)" class="bg-danger">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-img">
                                        <img src="../../assets/images/user.jpg">
                                        <div class="pro-img-overlay">
                                            <a href="javascript:void(0)" class="bg-danger">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-img">
                                        <img src="../../assets/images/user.jpg">
                                        <div class="pro-img-overlay">
                                            <a href="javascript:void(0)" class="bg-danger">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-img">
                                        <img src="../../assets/images/user.jpg">
                                        <div class="pro-img-overlay">
                                            <a href="javascript:void(0)" class="bg-danger">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="fileupload btn btn-info waves-effect waves-light" style="margin-top: 20px;">
                                    <span><i class="ion-upload m-r-5"></i>上传图片</span>
                                    <input type="file" class="upload" (change)="fileChange($event)" placeholder="Upload file" accept=".jpg">
                                </div>
                            </div>
                        </div>
                        <div class="form-actions m-t-40 text-center">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>发布</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>