<div class="navbar-default sidebar hidden-xs" role="navigation">
    <div class="slimScrollDiv">
        <div class="sidebar-nav navbar-collapse">
        <div class="user-profile">
            <div class="dropdown user-pro-body">
                <div><img src="../../../../assets/images/user2.jpg" alt="user-img" class="img-circle"></div>
                <a href="#" class="dropdown-toggle u-dropdown" >Chen ZhiBiao
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu animated flipInY">
                    <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                    <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                    <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-power-off"></i> Logout</a></li>
                </ul>
            </div>
        </div>
        <ul class="nav" id="side-menu">
            <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                    </span>
                </div>
            </li>
            <li class="nav-small-cap m-t-10">--- 网站监控</li>
            <li>
                <a routerLink="/dashboard" routerLinkActive="active" class="waves-effect">
                    <i class="fa fa-dashboard fa-fw" aria-hidden="true"></i>
                    <span class="hide-menu"> 仪表盘
                        <span class="fa arrow"></span>
                    </span>
                </a>
            </li>
            <!--<li>-->
                <!--<a href="javascript:;"  class="waves-effect">-->
                    <!--<i class="fa fa-bar-chart fa-fw" aria-hidden="true"></i>-->
                    <!--<span class="hide-menu"> 用户数据-->
                        <!--<span class="fa arrow"></span>-->
                    <!--</span>-->
                <!--</a>-->
            <!--</li>-->
            <li class="nav-small-cap">--- 商品操作</li>
            <li>
                <a routerLink="/productList" routerLinkActive="active" class="waves-effect">
                    <i class="fa fa-th fa-fw" aria-hidden="true"></i>
                    <span class="hide-menu"> 商品列表
                        <span class="fa arrow"></span>
                    </span>
                </a>
            </li>
            <li>
                <a routerLink="/productEdit" routerLinkActive="active" class="waves-effect">
                    <i class="fa fa-edit fa-fw" aria-hidden="true"></i>
                    <span class="hide-menu"> 商品发布
                        <span class="fa arrow"></span>
                    </span>
                </a>
            </li>
            <li class="nav-small-cap">--- 订单管理</li>
            <li>
                <a routerLink="/order" routerLinkActive="active" class="waves-effect">
                    <i class="fa fa-th fa-fw" aria-hidden="true"></i>
                    <span class="hide-menu"> 订单管理
                        <span class="fa arrow"></span>
                    </span>
                </a>
            </li>
            <!--<li >-->
                <!--<a routerLink="/login" routerLinkActive="active" class="waves-effect">-->
                    <!--<i class="fa fa-sort-amount-asc fa-fw" aria-hidden="true"></i>-->
                    <!--<span class="hide-menu"> 折扣促销-->
                        <!--<span class="fa arrow"></span>-->
                    <!--</span>-->
                <!--</a>-->
            <!--</li>-->
        </ul>
        </div>
    </div>
</div>