<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" *ngFor="let product of products">
        <div class="white-box">
            <div class="product-img">
                <img [src]="product.images">
                <div class="pro-img-overlay">
                    <a href="javascript:void(0)" class="bg-info">
                    <i class="fa fa-edit"></i>
                    </a>
                    <a href="javascript:;" class="bg-danger" (click)="delete(product)">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </div>
            </div>
            <div class="product-text">
                <span class="pro-price bg-danger">¥{{product.price}}</span>
                <h3 class="box-title m-b-0">{{product.name}}</h3>
                <small class="text-muted db">{{product.brand}}</small>

            </div>
        </div>
    </div>
</div>

<div>
    <div class="pull-right">
        <ngb-pagination [collectionSize]="totalElements" [(page)]="page" [pageSize]="size" [boundaryLinks]="true" (pageChange)="getProducts()"></ngb-pagination>
    </div>
    <div class="pull-left">
        <div class="pagination-size-select">
            <label class="total">总数:{{totalElements}}</label>
            <label class="form-inline">显示
                <select id="demo-show-entries" class="form-control input-sm" [(ngModel)]="size" (change)="getProducts()">
                    <option value="6">6</option>
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="48">48</option>
                </select>
                个每页 </label>
        </div>
    </div>
    <div class="clear"></div>
</div>

<template ngbModalContainer></template>