<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" *ngFor="let product of products">
        <div class="white-box">
            <div class="product-img">
                <img [src]="product.images">
                <div class="pro-img-overlay">
                    <a href="javascript:void(0)" class="bg-info">
                    <i class="fa fa-edit"></i>
                    </a>
                    <a href="javascript:void(0)" class="bg-danger">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </div>
            </div>
            <div class="product-text">
                <span class="pro-price bg-danger">¥{{product.price}}</span>
                <h3 class="box-title m-b-0">{{product.name}}</h3>
                <small class="text-muted db">{{product.brand}}</small>

            </div>
        </div>
    </div>
</div>

<template ngbModalContainer></template>