.empty-content{
    position: relative;
    padding: 50px;
    height: 300px;
    box-sizing: border-box;
}

.empty-content:before{
    content: "";
    display: block;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #edf1f5;
    opacity: 0.7;
    position: absolute;
    top:0px;
    left: 0px;
}

.empty-content h3{
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -5px;
    margin-left: -90px;
    z-index: 2;
    color: #54667a;
}

.empty-content img{
    height: 100%;
    margin: auto;
}

@media screen and (min-width: 920px){
    .empty-content{
        height: 400px;
    }
}