<div [ngClass]="{'block-refresh': refreshLoading}">
<div class="form-horizontal" >
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)" autocomplete="off">
        <div class="col-sm-2 col-md-2 list-style-icon">
            <span (click)="toggleShowType('th')"><i class="fa fa-th" [ngClass]="{'choosed':showType == 'th'}"></i></span>
            <span (click)="toggleShowType('list')"><i class="fa fa-list" [ngClass]="{'choosed':showType == 'list'}"></i></span>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="form-group">
                <label class="col-sm-4 col-md-4 control-label" title="商品类别"><div class="text-overflow-hidden">商品类别</div></label>
                <div class=" col-sm-8 col-md-8">
                    <select class="form-control" data-placeholder="请选择一个商品类别" [formControl]="searchForm.controls['category']" >
                        <option value="all">全部</option>
                        <option value="watch">手表</option>
                        <option value="earring">耳夹／耳钉</option>
                        <option value="bag">包包</option>
                        <option value="necklace">项链</option>
                        <option value="bracelet">手链</option>
                        <option value="ring">戒子</option>
                        <option value="brooch">胸针</option>
                        <option value="other">其他</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label" title="状态"><div class="text-overflow-hidden">状态</div></label>
                <div class=" col-sm-9 col-md-9">
                    <select class="form-control" data-placeholder="请选择商品状态" [formControl]="searchForm.controls['status']" >
                        <option value="all">全部</option>
                        <option value="inline">在售</option>
                        <option value="offline">已售</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <label class="col-sm-4 col-md-4 control-label" title="商品名称">
                <div class="text-overflow-hidden">商品名称</div>
            </label>
            <div class=" col-sm-8 col-md-8">
                <div class="form-group" role="search">
                    <div class="input-group" style="width: 100%">
                        <input type="text" class="form-control" placeholder="请输入要搜索的商品名称" [formControl]="searchForm.controls['name']">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-1">
            <button type="submit" class="btn waves-effect waves-light btn-info" style="line-height: 24px;" >
                <i class="fa fa-search"></i>搜索
            </button>
        </div>
    </form>
    <div class="clear"></div>
</div>

<!-- th显示方式 -->
<div class="row" *ngIf="showType == 'th'" >
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" *ngFor="let product of products;let i = index;"
         [ngClass]="{'md3-clear-left': i%4==0}" >
        <div class="white-box">
            <div class="product-img">
                <img [src]="product.images">
                <div class="pro-img-overlay">
                    <div class="img-wrapper">
                        <a href="javascript:;" class="bg-success" (click)="view(product)">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                    <div class="img-wrapper">
                        <a href="javascript:;" class="bg-info" (click)="edit(product)">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </div>
                    <div class="img-wrapper">
                        <a href="javascript:;" class="bg-info" (click)="editDesc(product)">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                    <div class="img-wrapper">
                        <a href="javascript:;" class="bg-theme" (click)="delete(product)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-text">
                <span class="pro-price bg-danger">¥{{product.price}}</span>
                <p class="box-title m-b-0" title="{{product.name}}">{{product.name}}</p>
                <div class="sub-box-title">{{product.brand}}</div>
            </div>
        </div>
    </div>

</div>

<!-- list显示方式 -->
<div class="row white-box" *ngIf="showType == 'list'" >
    <div class="table-responsive" >
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>名称</th>
                <th>品类</th>
                <th>图片</th>
                <th>价格</th>
                <th>折扣</th>
                <th>状态</th>
                <th class="text-nowrap">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products;let i = index;">
                <td>{{i+1}}</td>
                <td>{{product.name}}</td>
                <td>{{product.type}}</td>
                <td class="td-img"><img  [src]="product.images"></td>
                <td><span class="text-danger">¥{{product.price}}</span></td>
                <td>{{product.discount}}</td>
                <td>
                    <div class="label label-table" [ngClass]="{'label-success': product.status=='inline','label-danger':product.status=='offline'}">{{product.status=='inline'?'在售':'已售出'}}</div>
                </td>
                <td class="text-nowrap table-options">
                    <i class="fa fa-eye m-r-10" title="查看" (click)="view(product)"></i>
                    <i class="fa fa-edit text-inverse m-r-10" title="编辑" (click)="edit(product)"></i>
                    <i class="fa fa-newspaper-o m-r-10" title="编辑详情" (click)="editDesc(product)"></i>
                    <i class="fa fa-close" title="删除" (click)="delete(product)"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="products && products.length<=0" class="empty-content text-center">
    <h3>没有符合条件的商品</h3>
    <img src="../../../assets/images/emptystate-products.svg" alt="没有商品">
</div>

<div>
    <div class="pull-right">
        <ngb-pagination [collectionSize]="totalElements" [(page)]="page" [pageSize]="size"
                        [boundaryLinks]="true" [maxSize]="10" (pageChange)="getProducts()"></ngb-pagination>
    </div>
    <div class="pull-left">
        <div class="pagination-size-select">
            <label class="total">总数:{{totalElements}}</label>
            <label class="form-inline">显示
                <select id="demo-show-entries" class="form-control input-sm" [(ngModel)]="size" (change)="getProducts()">
                    <option value="6">6</option>
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="48">48</option>
                </select>
                个每页 </label>
        </div>
    </div>
    <div class="clear"></div>
</div>
</div>

<ng-template ngbModalContainer></ng-template>




<div class="modal modal-black-back fade" [ngClass]="{'in show':confirmStatus}">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="cancel()">×</button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>是否确认删除?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" (click)="confirm()">确认</button>
                <button type="button" class="btn btn-danger" (click)="cancel()">取消</button>
            </div>
        </div>
    </div>
</div>

<simple-notifications [options]="options"></simple-notifications>